In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print("Libraries Successfully Imported!")

Libraries Successfully Imported!

In [2]:
import os
import glob
output_string_file = "defensive-s1vs2.csv"

path = 'C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced'
extension = 'csv'
os.chdir(path)
result = glob.glob('*defensive*.{}'.format(extension))
print(result)
print(len(result))

['brighton-defensive1718-cleaned.csv', 'brighton-defensive1819-cleaned.csv', 'huddersfield-defensive1718-cleaned.csv', 'huddersfield-defensive1819-cleaned.csv', 'leeds-defensive2021-cleaned.csv', 'leeds-defensive2122-cleaned.csv', 'newcastle-defensive1718-cleaned.csv', 'newcastle-defensive1819-cleaned.csv', 'sheffutd-defensive1920-cleaned.csv', 'sheffutd-defensive2021-cleaned.csv', 'villa-defensive1920-cleaned.csv', 'villa-defensive2021-cleaned.csv', 'wolves-defensive1819-cleaned.csv', 'wolves-defensive1920-cleaned.csv']
14

In [3]:
bri_s1 = pd.read_csv(result[0])
bri_s2 = pd.read_csv(result[1])
# hudds
hudds_s1 = pd.read_csv(result[2])
hudds_s2 = pd.read_csv(result[3])
## leeds
leeds_s1 = pd.read_csv(result[4])
leeds_s2 = pd.read_csv(result[5])
## newcastle
new_s1 = pd.read_csv(result[6])
new_s2 = pd.read_csv(result[7])
## sheff u
sheff_s1 = pd.read_csv(result[8])
sheff_s2 = pd.read_csv(result[9])
## villa
villa_s1 = pd.read_csv(result[10])
villa_s2 = pd.read_csv(result[11])
## wolves 
wolves_s1 = pd.read_csv(result[12])
wolves_s2 = pd.read_csv(result[13])

In [4]:
### squad totals for Season 1
wolvestotals_s1 = wolves_s1.loc[wolves_s1['Player'] == 'Squad Total']
newtotals_s1 = new_s1.loc[new_s1['Player'] == 'Squad Total']
britotals_s1 = bri_s1.loc[bri_s1['Player'] == 'Squad Total']
huddsstotals_s1 = hudds_s1.loc[hudds_s1['Player'] == 'Squad Total']
sheffutdtotals_s1 = sheff_s1.loc[sheff_s1['Player'] == 'Squad Total']
villatotals_s1 = villa_s1.loc[villa_s1['Player'] == 'Squad Total']
leetotals_s1 = leeds_s1.loc[leeds_s1['Player'] == 'Squad Total']

In [5]:
### squad totals for Season 2
wolvestotals_s2 = wolves_s2.loc[wolves_s2['Player'] == 'Squad Total']
newtotals_s2 = new_s2.loc[new_s2['Player'] == 'Squad Total']
britotals_s2 = bri_s2.loc[bri_s2['Player'] == 'Squad Total']
huddsstotals_s2 = hudds_s2.loc[hudds_s2['Player'] == 'Squad Total']
sheffutdtotals_s2 = sheff_s2.loc[sheff_s2['Player'] == 'Squad Total']
villatotals_s2 = villa_s2.loc[villa_s2['Player'] == 'Squad Total']
leetotals_s2 = leeds_s2.loc[leeds_s2['Player'] == 'Squad Total']

In [6]:
### replace squad totals
# s2
wolvestotals_s2.replace({'Player': {'Squad Total': 'Wolves S2'}}, inplace = True)
newtotals_s2.replace({'Player': {'Squad Total': 'Newcastle S2'}}, inplace = True)
britotals_s2.replace({'Player': {'Squad Total': 'Brighton S2'}}, inplace = True)
huddsstotals_s2.replace({'Player': {'Squad Total': 'Huddersfield S2'}}, inplace = True)
sheffutdtotals_s2.replace({'Player': {'Squad Total': 'Sheffield Utd S2'}}, inplace = True)
villatotals_s2.replace({'Player': {'Squad Total': 'Aston Villa S2'}}, inplace = True)
leetotals_s2.replace({'Player': {'Squad Total': 'Leeds United S2'}}, inplace = True)
# s1
wolvestotals_s1.replace({'Player': {'Squad Total': 'Wolves S1'}}, inplace = True)
newtotals_s1.replace({'Player': {'Squad Total': 'Newcastle S1'}}, inplace = True)
britotals_s1.replace({'Player': {'Squad Total': 'Brighton S1'}}, inplace = True)
huddsstotals_s1.replace({'Player': {'Squad Total': 'Huddersfield S1'}}, inplace = True)
sheffutdtotals_s1.replace({'Player': {'Squad Total': 'Sheffield Utd S1'}}, inplace = True)
villatotals_s1.replace({'Player': {'Squad Total': 'Aston Villa S1'}}, inplace = True)
leetotals_s1.replace({'Player': {'Squad Total': 'Leeds United S1'}}, inplace = True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [7]:
all_joined_squads = pd.concat([wolvestotals_s2, newtotals_s2, britotals_s2, huddsstotals_s2, sheffutdtotals_s2, villatotals_s2,
          leetotals_s2, wolvestotals_s1, newtotals_s1, britotals_s1, huddsstotals_s1, sheffutdtotals_s1,
          villatotals_s1, leetotals_s1], axis=0)

In [8]:
all_joined_squads.drop(columns = ['Pos', 'Nation'], inplace = True)

In [9]:
all_joined_squads

,Player,Age,90s,Tkl,TklWon,TacklesDef3rd,TacklesMid3rd,TacklesAtt3rd,VSDribblesTkl,VSDribblesAtt,VSDribblesTkl%,VSDribblesPast,Blocks,ShotBlock,PassBlock,Interceptions,Tkl+Int,Clearances,Errors
21,Wolves S2,26.6,38.0,646,367,358,227,61,281,685,41.0,404,378,109,269,437,1083,702,23
24,Newcastle S2,26.9,38.0,711,433,356,291,64,241,565,42.7,324,472,135,337,506,1217,1204,16
21,Brighton S2,27.4,38.0,679,391,363,238,78,264,582,45.4,318,415,170,245,463,1142,1001,17
31,Huddersfield S2,26.2,38.0,708,425,323,315,70,263,625,42.1,362,496,130,366,531,1239,682,15
27,Sheffield Utd S2,26.7,38.0,634,356,325,239,70,294,720,40.8,426,442,152,290,351,985,839,19
24,Aston Villa S2,25.2,38.0,530,282,262,202,66,250,571,43.8,321,438,159,279,387,917,783,17
29,Leeds United S2,26.1,38.0,786,436,395,298,93,408,886,46.0,478,473,143,330,395,1181,622,15
21,Wolves S1,26.1,38.0,720,408,385,284,51,283,664,42.6,381,499,148,351,501,1221,895,23
27,Newcastle S1,25.6,38.0,645,426,338,255,52,221,638,34.6,417,475,117,358,441,1086,1219,17
24,Brighton S1,27.5,38.0,599,380,360,205,34,205,642,31.9,437,430,190,240,449,1048,1182,18
25,Huddersfield S1,26.4,38.0,743,502,354,306,83,249,630,39.5,381,453,118,335,518,1261,1129,22
26,Sheffield Utd S1,26.9,38.0,611,377,304,229,78,261,646,40.4,385,336,106,230,420,1031,931,16
28,Aston Villa S1,25.7,38.0,523,291,285,174,64,223,597,37.4,374,456,184,272,423,946,928,26
23,Leeds United S1,26.1,38.0,740,417,378,279,83,310,769,40.3,459,406,149,257,397,1137,646,26

In [10]:
s1 = all_joined_squads.loc[all_joined_squads['Player'].str.contains("S1")]
s1

,Player,Age,90s,Tkl,TklWon,TacklesDef3rd,TacklesMid3rd,TacklesAtt3rd,VSDribblesTkl,VSDribblesAtt,VSDribblesTkl%,VSDribblesPast,Blocks,ShotBlock,PassBlock,Interceptions,Tkl+Int,Clearances,Errors
21,Wolves S1,26.1,38.0,720,408,385,284,51,283,664,42.6,381,499,148,351,501,1221,895,23
27,Newcastle S1,25.6,38.0,645,426,338,255,52,221,638,34.6,417,475,117,358,441,1086,1219,17
24,Brighton S1,27.5,38.0,599,380,360,205,34,205,642,31.9,437,430,190,240,449,1048,1182,18
25,Huddersfield S1,26.4,38.0,743,502,354,306,83,249,630,39.5,381,453,118,335,518,1261,1129,22
26,Sheffield Utd S1,26.9,38.0,611,377,304,229,78,261,646,40.4,385,336,106,230,420,1031,931,16
28,Aston Villa S1,25.7,38.0,523,291,285,174,64,223,597,37.4,374,456,184,272,423,946,928,26
23,Leeds United S1,26.1,38.0,740,417,378,279,83,310,769,40.3,459,406,149,257,397,1137,646,26

In [11]:
x = 0
for col in s1.columns:
    name = s1.columns[x] + "Season1"
    s1 = s1.rename(columns={col:name})
    x = x + 1

In [12]:
s1.drop(columns=['90sSeason1', 'AgeSeason1'], inplace = True)

In [13]:
s2 = all_joined_squads.loc[all_joined_squads['Player'].str.contains("S2")]
x = 0
for col in s2.columns:
    name = s2.columns[x] + "Season2"
    s2 = s2.rename(columns={col:name})
    x = x + 1
s2.drop(columns=['90sSeason2', 'AgeSeason2'], inplace = True)
s2.shape

(7, 17)

In [14]:
def change_names(df, string, string2):
    df.replace({'Player' + string2: {'Wolves ' + string: 'Wolves'}}, inplace = True)
    df.replace({'Player' + string2: {'Newcastle ' + string: 'Newcastle'}}, inplace = True)
    df.replace({'Player' + string2: {'Brighton ' + string: 'Brighton'}}, inplace = True)
    df.replace({'Player' + string2: {'Huddersfield ' + string: 'Huddersfield'}}, inplace = True)
    df.replace({'Player' + string2: {'Sheffield Utd ' + string: 'Sheffield Utd'}}, inplace = True)
    df.replace({'Player' + string2: {'Aston Villa ' + string: 'Aston Villa'}}, inplace = True)
    df.replace({'Player' + string2: {'Leeds United ' + string: 'Leeds United'}}, inplace = True)
    df.rename(columns = {'Player' + string2: "Team"}, inplace = True)
    return df

In [15]:
change_names(s1, "S1", "Season1")
change_names(s2, "S2", "Season2")
print(s1.shape)
s1.head(5)

(7, 17)

,Team,TklSeason1,TklWonSeason1,TacklesDef3rdSeason1,TacklesMid3rdSeason1,TacklesAtt3rdSeason1,VSDribblesTklSeason1,VSDribblesAttSeason1,VSDribblesTkl%Season1,VSDribblesPastSeason1,BlocksSeason1,ShotBlockSeason1,PassBlockSeason1,InterceptionsSeason1,Tkl+IntSeason1,ClearancesSeason1,ErrorsSeason1
21,Wolves,720,408,385,284,51,283,664,42.6,381,499,148,351,501,1221,895,23
27,Newcastle,645,426,338,255,52,221,638,34.6,417,475,117,358,441,1086,1219,17
24,Brighton,599,380,360,205,34,205,642,31.9,437,430,190,240,449,1048,1182,18
25,Huddersfield,743,502,354,306,83,249,630,39.5,381,453,118,335,518,1261,1129,22
26,Sheffield Utd,611,377,304,229,78,261,646,40.4,385,336,106,230,420,1031,931,16

In [16]:
s2.head(1)

,Team,TklSeason2,TklWonSeason2,TacklesDef3rdSeason2,TacklesMid3rdSeason2,TacklesAtt3rdSeason2,VSDribblesTklSeason2,VSDribblesAttSeason2,VSDribblesTkl%Season2,VSDribblesPastSeason2,BlocksSeason2,ShotBlockSeason2,PassBlockSeason2,InterceptionsSeason2,Tkl+IntSeason2,ClearancesSeason2,ErrorsSeason2
21,Wolves,646,367,358,227,61,281,685,41.0,404,378,109,269,437,1083,702,23

In [17]:
final_df = pd.merge(s1, s2, on = "Team")
final_df.head(7)

,Team,TklSeason1,TklWonSeason1,TacklesDef3rdSeason1,TacklesMid3rdSeason1,TacklesAtt3rdSeason1,VSDribblesTklSeason1,VSDribblesAttSeason1,VSDribblesTkl%Season1,VSDribblesPastSeason1,...,VSDribblesAttSeason2,VSDribblesTkl%Season2,VSDribblesPastSeason2,BlocksSeason2,ShotBlockSeason2,PassBlockSeason2,InterceptionsSeason2,Tkl+IntSeason2,ClearancesSeason2,ErrorsSeason2
0,Wolves,720,408,385,284,51,283,664,42.6,381,...,685,41.0,404,378,109,269,437,1083,702,23
1,Newcastle,645,426,338,255,52,221,638,34.6,417,...,565,42.7,324,472,135,337,506,1217,1204,16
2,Brighton,599,380,360,205,34,205,642,31.9,437,...,582,45.4,318,415,170,245,463,1142,1001,17
3,Huddersfield,743,502,354,306,83,249,630,39.5,381,...,625,42.1,362,496,130,366,531,1239,682,15
4,Sheffield Utd,611,377,304,229,78,261,646,40.4,385,...,720,40.8,426,442,152,290,351,985,839,19
5,Aston Villa,523,291,285,174,64,223,597,37.4,374,...,571,43.8,321,438,159,279,387,917,783,17
6,Leeds United,740,417,378,279,83,310,769,40.3,459,...,886,46.0,478,473,143,330,395,1181,622,15

In [18]:
final_df.columns

Index(['Team', 'TklSeason1', 'TklWonSeason1', 'TacklesDef3rdSeason1',
       'TacklesMid3rdSeason1', 'TacklesAtt3rdSeason1', 'VSDribblesTklSeason1',
       'VSDribblesAttSeason1', 'VSDribblesTkl%Season1',
       'VSDribblesPastSeason1', 'BlocksSeason1', 'ShotBlockSeason1',
       'PassBlockSeason1', 'InterceptionsSeason1', 'Tkl+IntSeason1',
       'ClearancesSeason1', 'ErrorsSeason1', 'TklSeason2', 'TklWonSeason2',
       'TacklesDef3rdSeason2', 'TacklesMid3rdSeason2', 'TacklesAtt3rdSeason2',
       'VSDribblesTklSeason2', 'VSDribblesAttSeason2', 'VSDribblesTkl%Season2',
       'VSDribblesPastSeason2', 'BlocksSeason2', 'ShotBlockSeason2',
       'PassBlockSeason2', 'InterceptionsSeason2', 'Tkl+IntSeason2',
       'ClearancesSeason2', 'ErrorsSeason2'],
      dtype='object')

In [19]:
final_df.to_csv("C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced/" + output_string_file, index = False)