In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print("Libraries Successfully Imported!")

Libraries Successfully Imported!

In [6]:
import os
import glob
output_string_file = "creative-s1vs2.csv"

path = 'C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced'
extension = 'csv'
os.chdir(path)
result = glob.glob('*shootcreate*.{}'.format(extension))
print(result)
print(len(result))

['brighton-shootcreate1718-cleaned.csv', 'brighton-shootcreate1819-cleaned.csv', 'huddersfield-shootcreate1718-cleaned.csv', 'huddersfield-shootcreate1819-cleaned.csv', 'leeds-shootcreate2021-cleaned.csv', 'leeds-shootcreate2122-cleaned.csv', 'newcastle-shootcreate1718-cleaned.csv', 'newcastle-shootcreate1819-cleaned.csv', 'sheffutd-shootcreate1920-cleaned.csv', 'sheffutd-shootcreate2021-cleaned.csv', 'villa-shootcreate1920-cleaned.csv', 'villa-shootcreate2021-cleaned.csv', 'wolves-shootcreate1819-cleaned.csv', 'wolves-shootcreate1920-cleaned.csv']
14

In [7]:
bri_s1 = pd.read_csv(result[0])
bri_s2 = pd.read_csv(result[1])
# hudds
hudds_s1 = pd.read_csv(result[2])
hudds_s2 = pd.read_csv(result[3])
## leeds
leeds_s1 = pd.read_csv(result[4])
leeds_s2 = pd.read_csv(result[5])
## newcastle
new_s1 = pd.read_csv(result[6])
new_s2 = pd.read_csv(result[7])
## sheff u
sheff_s1 = pd.read_csv(result[8])
sheff_s2 = pd.read_csv(result[9])
## villa
villa_s1 = pd.read_csv(result[10])
villa_s2 = pd.read_csv(result[11])
## wolves 
wolves_s1 = pd.read_csv(result[12])
wolves_s2 = pd.read_csv(result[13])

In [8]:
### squad totals for Season 1
wolvestotals_s1 = wolves_s1.loc[wolves_s1['Player'] == 'Squad Total']
newtotals_s1 = new_s1.loc[new_s1['Player'] == 'Squad Total']
britotals_s1 = bri_s1.loc[bri_s1['Player'] == 'Squad Total']
huddsstotals_s1 = hudds_s1.loc[hudds_s1['Player'] == 'Squad Total']
sheffutdtotals_s1 = sheff_s1.loc[sheff_s1['Player'] == 'Squad Total']
villatotals_s1 = villa_s1.loc[villa_s1['Player'] == 'Squad Total']
leetotals_s1 = leeds_s1.loc[leeds_s1['Player'] == 'Squad Total']

In [9]:
### squad totals for Season 2
wolvestotals_s2 = wolves_s2.loc[wolves_s2['Player'] == 'Squad Total']
newtotals_s2 = new_s2.loc[new_s2['Player'] == 'Squad Total']
britotals_s2 = bri_s2.loc[bri_s2['Player'] == 'Squad Total']
huddsstotals_s2 = hudds_s2.loc[hudds_s2['Player'] == 'Squad Total']
sheffutdtotals_s2 = sheff_s2.loc[sheff_s2['Player'] == 'Squad Total']
villatotals_s2 = villa_s2.loc[villa_s2['Player'] == 'Squad Total']
leetotals_s2 = leeds_s2.loc[leeds_s2['Player'] == 'Squad Total']

In [10]:
### replace squad totals
# s2
wolvestotals_s2.replace({'Player': {'Squad Total': 'Wolves S2'}}, inplace = True)
newtotals_s2.replace({'Player': {'Squad Total': 'Newcastle S2'}}, inplace = True)
britotals_s2.replace({'Player': {'Squad Total': 'Brighton S2'}}, inplace = True)
huddsstotals_s2.replace({'Player': {'Squad Total': 'Huddersfield S2'}}, inplace = True)
sheffutdtotals_s2.replace({'Player': {'Squad Total': 'Sheffield Utd S2'}}, inplace = True)
villatotals_s2.replace({'Player': {'Squad Total': 'Aston Villa S2'}}, inplace = True)
leetotals_s2.replace({'Player': {'Squad Total': 'Leeds United S2'}}, inplace = True)
# s1
wolvestotals_s1.replace({'Player': {'Squad Total': 'Wolves S1'}}, inplace = True)
newtotals_s1.replace({'Player': {'Squad Total': 'Newcastle S1'}}, inplace = True)
britotals_s1.replace({'Player': {'Squad Total': 'Brighton S1'}}, inplace = True)
huddsstotals_s1.replace({'Player': {'Squad Total': 'Huddersfield S1'}}, inplace = True)
sheffutdtotals_s1.replace({'Player': {'Squad Total': 'Sheffield Utd S1'}}, inplace = True)
villatotals_s1.replace({'Player': {'Squad Total': 'Aston Villa S1'}}, inplace = True)
leetotals_s1.replace({'Player': {'Squad Total': 'Leeds United S1'}}, inplace = True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [11]:
all_joined_squads = pd.concat([wolvestotals_s2, newtotals_s2, britotals_s2, huddsstotals_s2, sheffutdtotals_s2, villatotals_s2,
          leetotals_s2, wolvestotals_s1, newtotals_s1, britotals_s1, huddsstotals_s1, sheffutdtotals_s1,
          villatotals_s1, leetotals_s1], axis=0)

In [12]:
all_joined_squads.drop(columns = ['Pos', 'Nation'], inplace = True)

In [13]:
all_joined_squads

,Player,Age,90s,SCA,SCA90,SCAPassLive,SCAPassDead,SCADrib,SCASh,SCAFld,SCADef,GCA,GCA90,GCAPassLive,GCAPassDead,GCADrib,GCASh,GCAFld,GCADef
21,Wolves S2,26.6,38.0,801,21.08,541,70,79,47,46,18,83,2.18,53,6,9,8,7,0
24,Newcastle S2,26.9,38.0,784,20.63,571,77,33,43,42,18,68,1.79,46,5,4,10,2,1
21,Brighton S2,27.4,38.0,646,17.00,427,87,40,35,45,12,55,1.45,29,9,1,7,8,1
31,Huddersfield S2,26.2,38.0,681,17.92,486,74,27,43,37,14,33,0.87,23,4,0,3,3,0
27,Sheffield Utd S2,26.7,38.0,566,14.89,435,48,27,28,23,5,27,0.71,16,3,2,3,3,0
24,Aston Villa S2,25.2,38.0,940,24.74,669,91,63,47,58,12,94,2.47,66,8,4,6,9,1
29,Leeds United S2,26.1,38.0,823,21.66,586,70,51,60,42,14,66,1.74,36,2,10,10,5,3
21,Wolves S1,26.1,38.0,830,21.84,607,69,53,48,40,13,83,2.18,58,6,5,6,8,0
27,Newcastle S1,25.6,38.0,782,20.58,561,72,45,45,39,20,63,1.66,43,7,2,10,1,0
24,Brighton S1,27.5,38.0,684,18.00,489,73,46,37,31,8,60,1.58,43,3,4,4,6,0
25,Huddersfield S1,26.4,38.0,621,16.34,444,52,38,35,36,16,45,1.18,29,4,6,3,3,0
26,Sheffield Utd S1,26.9,38.0,630,16.58,457,62,44,38,23,6,63,1.66,47,3,6,6,1,0
28,Aston Villa S1,25.7,38.0,827,21.76,599,87,42,36,56,7,72,1.89,48,8,5,4,7,0
23,Leeds United S1,26.1,38.0,924,24.32,701,73,45,63,31,11,108,2.84,81,6,8,8,5,0

In [14]:
s1 = all_joined_squads.loc[all_joined_squads['Player'].str.contains("S1")]
s1

,Player,Age,90s,SCA,SCA90,SCAPassLive,SCAPassDead,SCADrib,SCASh,SCAFld,SCADef,GCA,GCA90,GCAPassLive,GCAPassDead,GCADrib,GCASh,GCAFld,GCADef
21,Wolves S1,26.1,38.0,830,21.84,607,69,53,48,40,13,83,2.18,58,6,5,6,8,0
27,Newcastle S1,25.6,38.0,782,20.58,561,72,45,45,39,20,63,1.66,43,7,2,10,1,0
24,Brighton S1,27.5,38.0,684,18.00,489,73,46,37,31,8,60,1.58,43,3,4,4,6,0
25,Huddersfield S1,26.4,38.0,621,16.34,444,52,38,35,36,16,45,1.18,29,4,6,3,3,0
26,Sheffield Utd S1,26.9,38.0,630,16.58,457,62,44,38,23,6,63,1.66,47,3,6,6,1,0
28,Aston Villa S1,25.7,38.0,827,21.76,599,87,42,36,56,7,72,1.89,48,8,5,4,7,0
23,Leeds United S1,26.1,38.0,924,24.32,701,73,45,63,31,11,108,2.84,81,6,8,8,5,0

In [15]:
x = 0
for col in s1.columns:
    name = s1.columns[x] + "Season1"
    s1 = s1.rename(columns={col:name})
    x = x + 1

In [16]:
s1.drop(columns=['90sSeason1', 'AgeSeason1'], inplace = True)

In [17]:
s2 = all_joined_squads.loc[all_joined_squads['Player'].str.contains("S2")]
x = 0
for col in s2.columns:
    name = s2.columns[x] + "Season2"
    s2 = s2.rename(columns={col:name})
    x = x + 1
s2.drop(columns=['90sSeason2', 'AgeSeason2'], inplace = True)
s2.shape

(7, 17)

In [18]:
def change_names(df, string, string2):
    df.replace({'Player' + string2: {'Wolves ' + string: 'Wolves'}}, inplace = True)
    df.replace({'Player' + string2: {'Newcastle ' + string: 'Newcastle'}}, inplace = True)
    df.replace({'Player' + string2: {'Brighton ' + string: 'Brighton'}}, inplace = True)
    df.replace({'Player' + string2: {'Huddersfield ' + string: 'Huddersfield'}}, inplace = True)
    df.replace({'Player' + string2: {'Sheffield Utd ' + string: 'Sheffield Utd'}}, inplace = True)
    df.replace({'Player' + string2: {'Aston Villa ' + string: 'Aston Villa'}}, inplace = True)
    df.replace({'Player' + string2: {'Leeds United ' + string: 'Leeds United'}}, inplace = True)
    df.rename(columns = {'Player' + string2: "Team"}, inplace = True)
    return df

In [19]:
change_names(s1, "S1", "Season1")
change_names(s2, "S2", "Season2")
print(s1.shape)
s1.head(5)

(7, 17)

,Team,SCASeason1,SCA90Season1,SCAPassLiveSeason1,SCAPassDeadSeason1,SCADribSeason1,SCAShSeason1,SCAFldSeason1,SCADefSeason1,GCASeason1,GCA90Season1,GCAPassLiveSeason1,GCAPassDeadSeason1,GCADribSeason1,GCAShSeason1,GCAFldSeason1,GCADefSeason1
21,Wolves,830,21.84,607,69,53,48,40,13,83,2.18,58,6,5,6,8,0
27,Newcastle,782,20.58,561,72,45,45,39,20,63,1.66,43,7,2,10,1,0
24,Brighton,684,18.00,489,73,46,37,31,8,60,1.58,43,3,4,4,6,0
25,Huddersfield,621,16.34,444,52,38,35,36,16,45,1.18,29,4,6,3,3,0
26,Sheffield Utd,630,16.58,457,62,44,38,23,6,63,1.66,47,3,6,6,1,0

In [20]:
s2.head(1)

,Team,SCASeason2,SCA90Season2,SCAPassLiveSeason2,SCAPassDeadSeason2,SCADribSeason2,SCAShSeason2,SCAFldSeason2,SCADefSeason2,GCASeason2,GCA90Season2,GCAPassLiveSeason2,GCAPassDeadSeason2,GCADribSeason2,GCAShSeason2,GCAFldSeason2,GCADefSeason2
21,Wolves,801,21.08,541,70,79,47,46,18,83,2.18,53,6,9,8,7,0

In [21]:
final_df = pd.merge(s1, s2, on = "Team")
final_df.head(7)

,Team,SCASeason1,SCA90Season1,SCAPassLiveSeason1,SCAPassDeadSeason1,SCADribSeason1,SCAShSeason1,SCAFldSeason1,SCADefSeason1,GCASeason1,...,SCAFldSeason2,SCADefSeason2,GCASeason2,GCA90Season2,GCAPassLiveSeason2,GCAPassDeadSeason2,GCADribSeason2,GCAShSeason2,GCAFldSeason2,GCADefSeason2
0,Wolves,830,21.84,607,69,53,48,40,13,83,...,46,18,83,2.18,53,6,9,8,7,0
1,Newcastle,782,20.58,561,72,45,45,39,20,63,...,42,18,68,1.79,46,5,4,10,2,1
2,Brighton,684,18.00,489,73,46,37,31,8,60,...,45,12,55,1.45,29,9,1,7,8,1
3,Huddersfield,621,16.34,444,52,38,35,36,16,45,...,37,14,33,0.87,23,4,0,3,3,0
4,Sheffield Utd,630,16.58,457,62,44,38,23,6,63,...,23,5,27,0.71,16,3,2,3,3,0
5,Aston Villa,827,21.76,599,87,42,36,56,7,72,...,58,12,94,2.47,66,8,4,6,9,1
6,Leeds United,924,24.32,701,73,45,63,31,11,108,...,42,14,66,1.74,36,2,10,10,5,3

In [22]:
final_df.columns

Index(['Team', 'SCASeason1', 'SCA90Season1', 'SCAPassLiveSeason1',
       'SCAPassDeadSeason1', 'SCADribSeason1', 'SCAShSeason1', 'SCAFldSeason1',
       'SCADefSeason1', 'GCASeason1', 'GCA90Season1', 'GCAPassLiveSeason1',
       'GCAPassDeadSeason1', 'GCADribSeason1', 'GCAShSeason1', 'GCAFldSeason1',
       'GCADefSeason1', 'SCASeason2', 'SCA90Season2', 'SCAPassLiveSeason2',
       'SCAPassDeadSeason2', 'SCADribSeason2', 'SCAShSeason2', 'SCAFldSeason2',
       'SCADefSeason2', 'GCASeason2', 'GCA90Season2', 'GCAPassLiveSeason2',
       'GCAPassDeadSeason2', 'GCADribSeason2', 'GCAShSeason2', 'GCAFldSeason2',
       'GCADefSeason2'],
      dtype='object')

In [23]:
final_df.to_csv("C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced/" + output_string_file, index = False)